SECRET_KEY = 'django-insecure-)pqvg&ocls=dvm48m3%bh(uxiz%=x0n3bx129wx1w#tzpp$&zo'
POSTGRES_DB = 'chatapp_db'
POSTGRES_PASSWORD = 'space'
POSTGRES_USER = 'postgres'
DATABASE_HOST = '127.0.0.1'
POSTGRES_PORT = '5432'
DEBUG = True
EMAIL_HOST_USER = 'email@mail.ru'
EMAIL_HOST_PASSWORD = "password"
EMAIL_HOST = "smtp.mail.ru"
EMAIL_PORT = 465
